{extend name="public:index" /}

{block name="main"}
<div class="ssgn" style="width:1160px;">
	<!--内容-->
	<div class="page-container">
		<article>
			<h2>红书汇</h2>
			<p>红书汇是一家专注于新媒体情感都市小说制作的原创网站。公司成员均具有丰富的网络文学从业经验，对新媒体风格的小说具有独到的见解，能够辅导作者创作出更优质的原创内容。</p>

			<h3>制作人模式</h3>
			<p>红书汇摒弃传统网络文学签约编辑与责任编辑体系，针对新媒体文学的发展特点量身定制了一套：编辑作者联合策划-作者创作-编辑监制的制作人模式。</p>
			<p>制作人与作者共同参与作品的选题与剧情策划，同时制作人还将负责后续作品的质量把控及作品的精修，对作品进行全方位的包装与运营。</p>

			<h3>主创团队</h3>
			<p>我们的每位制作人主攻方向各具特色，当前制作人团队主要由业内资深编辑带队，多名资深运营及资深老作者共同组建而成。</p>

			<h3>内容发行</h3>
			<p>作品采用新媒体平台优先的全平台发现策略，一期同步上架数十家新媒体网文发行平台，二期则同步上架50余家优质的WEB及APP网文阅读平台，发行能力覆盖国内超过90%的网文传播渠道，最大化的曝光作品，提高销售收入。</p>
			
		</article>
	</div>
</div>
{/block}

{block name="css"}
	
{/block}

{block name="js"}

{/block}