{extend name="public:admin" /}


{block name="main"}
<div class="right-content right-content1" id="rights">
	<div class="content">
		<div class="tjflnr">
			<form class="layui-form" action="{:url('AdminPlaceAdd')}" method="post" >

				{if condition="isset($data.id)"}
				<input type="hidden" name="id" value="{$data.id}" />
				{/if}
				<input type="hidden" name="image" id="image" lay-verify="image" value="{if condition="isset($data.image)"}{$data.image}{/if}" />

		  	  	<div class="layui-form-item">
				    <label class="layui-form-label">渠道名称</label>
				    <div class="layui-input-block">
				      <input type="text" name="name" required  lay-verify="name" placeholder="请输入渠道名称" autocomplete="off" class="layui-input" value="{if condition="isset($data.name)"}{$data.name}{/if}">
				    </div>
			  	</div>
			  	<div class="layui-form-item">
				    <label class="layui-form-label">渠道链接</label>
				    <div class="layui-input-block">
				      <input type="text" name="url" required  lay-verify="url" placeholder="格式：http://www.baidu.com" autocomplete="off" class="layui-input" value="{if condition="isset($data.url)"}{$data.url}{/if}">
				    </div>
			  	</div>
			  	<div class="layui-form-item">
				    <label class="layui-form-label">拥有书籍</label>
				    <div class="layui-input-block">
				    	<textarea name="book_ids" class="layui-textarea" >{if condition="isset($data.placeRelation)"}{:implode(',',array_column($data->placeRelation,'book_id'))}{/if}</textarea>
				    </div>
			  	</div>
			  	<div class="layui-form-item">
				    <label class="layui-form-label">渠道LOGO</label>
				    <div class="layui-upload">
						<div class="layui-upload-list" {if condition="!isset($data.id)"}style="display:none;"{/if}>
						    <img class="layui-upload-img" id="author_icon" src="{if condition="isset($data.image)"}{:imagePath(['table'=>'place','category'=>'image'],$data.image)}{/if}" style="height:108px">
						</div>
						<p id="demoText"></p>
					  	<button type="button" class="layui-btn" id="change_photo">选择图片</button>
					</div>
			  	</div>
			  	<div class="layui-form-item">
				    <div class="layui-input-block">
				      	<button class="layui-btn" lay-submit lay-filter="formDemo">确定</button>
				    </div>
			  	</div>
			</form>
		</div>
	</div>
</div>
{/block}


{block name="css"}
	
{/block}

{block name="js"}
<script type="text/javascript">
	

	layui.use('upload', function(){
		var $ = layui.jquery,
		upload = layui.upload; 
		//普通图片上传
		var uploadInst = upload.render({
		    elem: '#change_photo',
		    url: '{:url('ImageUpload',['table' => 'place','category' => 'image'])}',
		    before: function(obj){
		      //预读本地文件示例，不支持ie8
		      obj.preview(function(index, file, result){
		      	$('#author_icon').parent().show(); 
		        $('#author_icon').attr('src', result); //图片链接（base64）
		      });
		    },
		    done: function(res){
		      //如果上传失败
		      if(res.code == 0){
		      	fileError(uploadInst);
		        return layer.msg(res.msg);

		      }
		      $("#image").val(res.msg);
		      $("#demoText").html(" ");
		      //上传成功
		    },
		    error: function(){
		      //演示失败状态，并实现重传
	  	      fileError(uploadInst);
		    }
		});
	});

	layui.use('form', function(){
	  	var form = layui.form;

	  	form.verify({
			image: function(value, item){ //value：表单的值、item：表单的DOM对象
				if(value == ''){
				    return '图片不能为空';
				}
			}
			,name: function(value, item){ //value：表单的值、item：表单的DOM对象
				if(value == ''){
				    return '名称不能为空';
				}
			}
		});   


	});

	function fileError(uploadInst){
		var demoText = $('#demoText');
      	demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
      	demoText.find('.demo-reload').on('click', function(){
        	uploadInst.upload();
      	});
	}

</script>

{/block}
