/*注册页面*/
.guncu{
	height: 25px;width: 160px;
}
input,textarea,select{text-indent: 10px;}
html{width:100%;height: 100%}
body{
	width: 100%;
	height: 100%;
}
p{padding:0;margin:0;}
.nav-bar{
	width: 100%;
	height: 80px;
	margin: 0 auto;
	background-color: #e83451;
}
.nav-bar .tp{width: 1200px;margin:0 auto;overflow: hidden;position: relative;}
.nav-bar .tp1{width: 100%;height: auto;overflow: hidden;}
.nav-bar .tp .nav-bar-img{
	height: 64px;
	margin: 8px 0 8px 0px;
	cursor: pointer;
	display: inline-block;
	float: left;
}

/** 登陆时未注册的描述 start **/
.book-marked{
	display: block;
    width: 425px;
    color: #999;
}

.book-marked .words {
	display: inline;
	font-size: 14px;
    border-bottom: 1px solid #999;
}
/** 登陆时未注册的描述 end **/
.nav-bar .tp1 .nav-bar-img{margin: 8px 0 8px 20px;}
.nav-bar .tp .rg{position: absolute;top:22px;right: 20px;height: 40px;line-height: 40px;font-family: "Microsoft Yahei";font-size: 14px;color:#fff;}
.nav-bar .tp .rg .rglg{width: auto;height: 100%;overflow: hidden;}
.nav-bar .tp .rg .rglg .registe{float: left;color: #fff;text-decoration: none;}
.nav-bar .tp .rg .rglg .login{float: right;color: #fff;text-decoration: none;}
.nav-bar .tp .rg .rglg span{margin: 0 15px;display: block;float: left;}
.nav-bar .tp .rg .tc{width: auto;height: auto;overflow: hidden;}
.nav-bar .tp .rg .tc a{color: #fff;}
.nav-bar .tp .rg .tc .tcqd{float: left;}
.nav-bar .tp .rg .tc .tcqd p{float: left;width:24px;height: 24px;margin-top:0px;margin-right: 8px;}
.nav-bar .tp .rg .tc .tcqd p img{width: 100%;height: 100%;border-radius: 50%;}
.nav-bar .tp .rg .tc .tcqd div{float: left;}
.nav-bar .tp .rg .tc .tcid{float: left;margin-left: 55px;}
.nav-bar .tp .rg .tc .tcwz{float: left;text-decoration: none;color: #fff;margin-left: 45px;}
.login-form p{margin-top: 75px;
    margin-left: 93px;
    color: #ccc;
    font-size: 13px;}
 
.register{
	width: 100%;
	height: 640px;
	background-color: white;
}
.register-space{
	width: 100%;
	height: 10px;
	background-color: rgb(246,246,246);
}
.reg{width:1200px; overflow: hidden;margin: 0 auto;margin-top:30px;}
.register-form{ 
	width: 1000px;
	background-color: rgb(255,255,255);
	font-family: "Microsoft YaHei";
	height:440px;
	border: 1px solid lightgray;
}
.register-title{
	height: 60px;
	line-height: 60px;
	font-size: 2em;
	margin: 20px 20px 0 20px;
	color: #e84c64;
}
.register-form .tpxs{position: relative;overflow: hidden;width: 130px;height: 40px;margin-left: 10px;margin-bottom: 20px;}
.register-form .tpxs img{
	width: 100%;
	height: 100%;
}
.register-form .tpxs .txreg{position: absolute;top:0;line-height: 40px;color:#333;font-family: "Microsoft YaHei";text-indent: 30px;font-size: 30px;font-size: 16px; font-weight: bold;}
.register-form form div{
	width: 100%;
	height: 50px;
}
.register-form form div label{
	display: inline-block;
	width: 100px;
	height: 30px;
	text-align: right;
	margin-right: 15px;
	color: #313131;
	font-size: 14px;
}
.register-form form div span{
	font-size: 13px;
	color: #e83451;
	font-weight: 300;
}
.register-form form div input{
	width: 300px;
	height: 38px;
	border: 1px solid rgb(232,232,232);
	outline: none;
}
.register-form form div button{
	width: 120px;
	height: 30px;
	line-height: 30px;
	margin-left: 140px;
	background-color: #e83451;
	color: rgb(255,255,255);
	border: none;
	border-radius: 5px;
	outline: none;
	margin-top:25px;
}/*注册页面*/

/*注册成功页面*/

/*顶部导航栏样式*/
.nav-bar-left{
	height: 80px;
	float: left;
}
.nav-bar-right{
	height: 80px;
	float: right;
	font-family: "Microsoft YaHei";
}
.nav-bar-left-img{
	/*width: 240px;*/
	height: 60px;
	margin-top: 10px;
}
.nav-bar-right-icon-img{
	width: 36px;
	height: 36px;
	margin-top: 22px;
	border-radius: 18px;
	float: left;
}
.nav-bar-right-nav-name{
	display: inline-block;
	height: 28px;line-height: 28px;
	font-size: 15px;
	color: #fff;
	text-decoration: none;
	margin-left: 8px;
	vertical-align: bottom;
	margin-top:25px;
}
.nav-bar-right-nav-loginout{
	display: inline-block;
	height: 28px;line-height: 28px;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	margin-left: 25px;
	vertical-align: bottom;
	margin-top:25px;
}/*顶部导航栏样式*/
.register-form h3{
	text-align: center;
	margin-top: 150px;
}
.wanshang,.chuangjian{
	text-align: center;
	height: 60px;
	line-height: 60px;
}
#wanshang{
	font-size: 25px;
}
#chuangjian{
	font-size: 17px;
	color: black;
}/*注册成功页面*/
/*登录页面*/
.login{width: 100%;height: auto;float: left;margin:0 auto;overflow: hidden;}
.login_bg_div{width: 100%;height: 100%;min-width: 1280px;min-height: 800px;margin: 0 auto;overflow: hidden;}
.login-form{width: 1200px;height: 480px;background-color: rgba(255, 255, 255, 0.38);border: 1px solid #6d6d6d45;border-radius: 5px;margin:0 auto;font-family: "Microsoft YaHei";font-size: 16px;}
.login-form form{margin-top:30px;margin-left: 45px;width:auto;}
.login-form input{width:350px;height: 38px;line-height: normal;border:1px solid #d7d7d7;outline: none;}
.login-form-header{height: 40px;line-height: 40px;text-align: left;color: #e84c64;font-size: 2em;margin-top:30px;margin-left: 45px;}
.login-account-div{
	width: auto;
	height: 40px;line-height: 40px;
	margin-left: 0px;
	margin-top: 20px;
}
.login-form .tsy{color:red;margin-left:5px;font-size: 14px;}
.login-form .tsy1{margin-top:10px;}

.admin-login .login-form{width: 70%;}
#username{display: inline-blockwidth: 400px;height: 38px;line-height: 38px;border: none;float: left;background-color: transparent;color: #3c3c3c;}
input#username{background: #0000;}
#username:focus{outline:none;}
.password{display: inline-block;width: 400px;height: 38px;line-height: 38px;border: none;float: left;background-color: transparent;color: #3c3c3c;}
.password:focus{outline:none;}
.login-password-div{width: auto;height: 40px;margin-left: 0px;margin-top: 25px;}
.login-code-div{width: auto;height: 40px;margin-left: -16px;margin-top: 25px;overflow: hidden;}
.login-form .yzmbk{margin-top: 20px;}
.login-code-div .yzcode{ float: left;margin-top: 8px;}
.login-code-div .yzcode1{float: left;margin-top: 10px;margin-left: -16px;}
.login-code-div .imgDiv{float: left;margin-left: 15px;}
.login-code-div .imgDiv .yzm{float: left;width: 185px;height: 40px;display: block;cursor: pointer;}
.login-code-div .imgDiv .yzm img{width: 100%;height: 100%;}
.tjyz{clear: both;padding-top: 30px;}
#verifyCode{
	display: inline-block;
	width: 250px;
	height: 40px;
	line-height: 40px;
	border: none;
	float: left;
	background-color: transparent;
	color: #3c3c3c;
}
#verifyCode:focus{
	outline: none;
}

#code{
	display:inline-block;
	float:right;
	width: 105px;
	margin:0 auto;
	padding-right: 15px;
	height: 40px;
	color: black;
	font-size: 20px;
	font-weight: bolder;
	border: none;
	letter-spacing: 5px;
	font-style: italic;
}

.login-submit-div{
	margin-top: 30px;
	text-align: center;
}

#login-submit{
	display: block;
	width: 150px;
	height: 40px;
	margin-left: 50px;
	background-color: #e83451;
	border: none;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	float: left;outline: none;
}
#go_register{
	display: block;
	float: left;
	width: 150px;
	height: 40px;
	margin-left: 30px;
	margin-top: 0px;
	background-color: transparent;
	border: none;
	color: #e83451;
	font-size: 15px;
	font-weight: 300;
	border:2px solid #e83451;
	border-radius: 5px;outline: none;
}
/*登录页面*/

/*创建作品页面*/

.create-body{
	background-color: rgb(246,246,246);position: relative;
}
.create-content{
	width: 1200px;
	margin: 0 auto;
	background-color: rgb(246,246,246);
	overflow: hidden;

}
.left-nav{
	width: 150px;
	height: 1400px;
	margin-right: 20px;
	background-color: white;
	float: left;position: relative;
}
.left-nav ul{list-style: none;padding-bottom: 40px;background: #666;}
.left-nav ul li{line-height: 45px;text-align: left;background: #666;padding-left:20px;cursor: pointer;}
.left-nav ul li a{color:#fff;text-decoration: none;font-size: 14px;display: block;}
.left-nav ul li.active{background: #cc374f;}
.left-nav .nav1{width:100%;height:auto;padding-left:0px;}
.left-nav .nav1 span{padding-left:0px;display: block;}
.left-nav .nav1 .nbul{padding-bottom: 0px;}

.right-content{
	width: 1030px;
	height: 100%;
	min-height: 640px;
	background-color: white;
	float: left;

}
/*书籍管理*/
.right-content .content{width:1000px;height: 40px;line-height: 40px;margin:15px;overflow: inherit;}
.right-content .content .cndh{float: left;font-weight: bold;color:#434343;}
.right-content .content .tjsb{float: right;display: block;padding:0 20px;text-decoration: none;text-align: center;color:#fff;background: #f00;border-radius:5px;font-size: 14px;}
.right-content .tjsbnr{width: 1000px;border-top:0px solid #e6e6e6;height: auto;overflow: hidden;margin:0 auto;padding-bottom: 20px;}
.right-content .fyxs{width: 1000px;margin:0 auto;}
.right-content .fyxs #test1{float: right;}
.right-content .tjsbnr .tables{width: 100%;}
.right-content .tjsbnr .tables .nrbt{font-weight: normal;text-align: center;height: 40px;line-height: 40px;background: #434343;color: #fff;}
.right-content .tjsbnr .tables .nr{width: 100%;height: auto;overflow: hidden;}
.right-content .tjsbnr .tables .nr .yh{width: 100%;height: auto;overflow: hidden;background: #f2f2f2;}
.right-content .tjsbnr .tables .p1{width: 230px;float: left;border-bottom:0px solid #e6e6e6;border-right:0px solid #e6e6e6;border-left:0px solid #e6e6e6;}
.right-content .tjsbnr .tables .p2{width: 191px;float: left;border-bottom:0px solid #e6e6e6;border-right:0px solid #e6e6e6;text-align: left;padding-left: 20px;}
.right-content .tjsbnr .tables .p3{width: 120px;float: left;border-bottom:0px solid #e6e6e6;border-right:0px solid #e6e6e6;}
.right-content .tjsbnr .tables .p4{width: 120px;float: left;border-bottom:0px solid #e6e6e6;border-right:0px solid #e6e6e6;}
.right-content .tjsbnr .tables .p5{width: 219px;float: left;border-bottom:0px solid #e6e6e6;border-right:0px solid #e6e6e6;}
.right-content .tjsbnr .tables .Shen{width: 120px;float: left;border-bottom:0px solid #e6e6e6;border-right:0px solid #e6e6e6;}
.right-content .tjsbnr .tables .p1 .book{width: 100%;height: auto;overflow: hidden;}
.right-content .tjsbnr .tables .p1 .book p{width: 105px;height: 142px;margin:10px 0px 10px 10px; float: left;    padding: 5px;
    border-radius: 5px;}
.right-content .tjsbnr .tables .p1 .book span{float: left;width:105px;display: block;margin-top:60px;height: 24px;line-height: 24px;font-size: 14px;font-family: "Microsoft YaHei";padding:0 5px;overflow: hidden;text-align: center;}
.right-content .tjsbnr .tables img{width: 100%;height: 100%;}
.right-content .tjsbnr .tables .zxzj{padding-left: 20px;width:200px;text-align: left;padding: 57px 0;}
.right-content .tjsbnr .tables .zxzj span{display: block;height: 24px;line-height: 24px;overflow: hidden;}
.right-content .tjsbnr .tables .lz{padding-right: 5px;text-align:center;padding: 56px 0; line-height: 50px;color:red;}
.right-content .tjsbnr .tables .sh{padding-right: 5px;text-align:center;padding: 56px 0; line-height: 50px;}
.right-content .tjsbnr .tables .bq{padding-right: 5px;text-align:center;padding: 56px 0; line-height: 50px;color:red;}
.right-content .tjsbnr .tables .cz{padding: 71px 0px;text-align: center;}
.right-content .tjsbnr .tables .cz a{text-decoration: none;padding-right: 5px;cursor: pointer;}

/*章节目录*/
.right-content .tjsbnr .tables .p6{float:left;width: 200px;}
.right-content .tjsbnr .tables .p6 a{text-decoration: none;}
.right-content .tjsbnr .tables .muh{height: 55px;line-height: 55px;text-align: center;}
.right-content .tjsbnr .tables .p6 .xs{width: 90px;margin:0 auto;}
.right-content .tjsbnr .tables .p6 .xs a{padding-right: 5px;text-decoration: none;}
.right-content .tjsbnr .tables .p6 .xs a.del{cursor: pointer;}
/*添加/编辑作品*/
.right-content .cont{width: 1000px;margin: 0 auto;overflow: inherit;}
.right-content .cont .workstep{width: 1000px;margin:20px auto 0;}
.right-content .cont .workstep .layui-form .layui-input-block .xh{height: 38px;line-height: 38px;width: 172px;border: 1px solid #ccc;text-indent: 10px;}
.right-content .cont .bgk{width: 100%;padding:15px;background: #393D49;}
.right-content .cont .bgk p{line-height: 20px;color:#fff;}
.right-content .cont .sctp{overflow: hidden;height:auto;}
.right-content .cont .sctp .scfm{float: left;}
.right-content .cont .sctp .fmtp{overflow: hidden;}
.right-content .cont .sctp .fmtp .tp{width: 108px;height: 162px;}
.right-content .cont .sctp .fmtp .tp img{width: 100%;height: 100%;}
.right-content .cont .workstep .dqzs{float: left;line-height: 20px;}
.right-content .cont .workstep .dqzss{float: left;margin-left:8px;}
.right-content .cont .workstep .dqzss .annu3{float: left;width: 80px;height: 30px;background: url(../img/anniu3.png) -12px -16px;cursor: pointer;display: block;}
.right-content .cont .workstep .dqzss .sqau5{background: url(../img/anniu4.png) -12px -16px;}
.right-content .cont .workstep .dqzss .annu4{float: left;width: 94px;height: 30px;background: url(../img/anniu3.png) 139px -16px;cursor: pointer;display: block;}
.right-content .cont .workstep .dqzss .sqau6{background: url(../img/anniu4.png) -92px -16px;}
.right-content .cont .workstep .dqzss span{padding-left:5px;line-height: 20px;}
#zjlxchose{margin-top:3px;}
.right-content .cont .workstep .zjtsy{line-height: 25px;float:left;margin-left: 10px;margin-top:7px;color: #f00;}
.right-content .cont .workstep .tsyy{line-height: 25px;color: red;font-weight: normal;margin-left:10px;}
.right-content .cont .workstep .tsyy1{margin-left:110px;}
.right-content .cont .workstep .demo1{position: relative;line-height: 40px;margin:8px 0;}
.right-content .cont .workstep .demo1 .demonr{overflow: hidden;height: 40px;line-height: 40px;}
.right-content .cont .workstep .demo1 .demonr .label{float: left;color:#333;font-size:13px;padding-left: 47px;padding-top: 9px;font-weight:normal;}
.right-content .cont .workstep .demo1 .demonr .btn{float: left;margin-left: 17px;background: #e83451;color:#fff;outline: none;}
.right-content .cont .workstep .byts{color: #f00;font-weight: normal;margin-left: 11px;}
.right-content .cont .workstep .byts1{margin-top:6px;}
.right-content .layui-form-item .shzt{margin-left:106px;}

.edui-default .edui-editor-scale{width:0!important;}
.demo2{position: relative;margin:45px;width:435px;}
.demo2 table{width: 100%;}
.demo2 table tr th{margin-bottom: 20px;height: 25px;}
.demo2 table .layui-form-label{padding: 9px 0px;width: auto;}
.demo2 table .layui-input-block{margin-left: 0;}
.demo2 table .layui-input-block input{width:100px;}
.demo2 table .layui-input-block .layui-unselect span{width: 90px;text-align: center;}
.xzlx{float: left;height: auto;width: auto;overflow: hidden;margin-left: 0px;}
.xzlx .annu1{float: left;width: 80px;height: 30px;background: url(../img/anniu1.png) -19px -16px;cursor: pointer;display: block;}
.xzlx .sqau1{background: url(../img/anniu2.png) -19px -16px;cursor: pointer;}
.xzlx .annu2{float: left;width: 95px;height: 30px;background: url(../img/anniu1.png) -113px -136px;margin-left: 15px;cursor: pointer;display: block;}
.xzlx .sqau2{background: url(../img/anniu2.png) 120px -136px;cursor: pointer;}
.xzlx .annu3{float: left;width: 80px;height: 30px;background: url(../img/anniu1.png) -19px -74px;cursor: pointer;display: block;}
.xzlx .sqau3{background: url(../img/anniu2.png) -19px -74px;cursor: pointer;}
.xzlx .annu4{float: left;width: 95px;height: 30px;background: url(../img/anniu1.png) -113px -74px;margin-left: 15px;cursor: pointer;display: block;}
.xzlx .sqau4{background: url(../img/anniu2.png) 120px -74px;cursor: pointer;}

.xzlx .annu5{float: left;width: 80px;height: 30px;background: url(../img/shtg.png) -9px -73px;cursor: pointer;display: block;}
.xzlx .annu6{float: left;width: 95px;height: 30px;background: url(../img/shtg.png) -103px -73px;cursor: pointer;display: block;margin-left: 14px;}
.xzlx .shsqau5{background: url(../img/shtg1.png) -9px -73px;cursor: pointer;}
.xzlx .shsqau6{background: url(../img/shtg1.png) -103px -73px;cursor: pointer;}


/*后台管理页面*/
.wrap{overflow: hidden;position: relative;background: #fff;}
.left-nav1{width: 10.75%;margin-right: 0;}
.right-content1{width: 89%;float: left;}
.right-content1 .content{width: auto;height: auto;}
.lbk input{width: 100%px;}
.dqzps{line-height: 20px;font-weight: 700;clear: both;}
.dqzps span{color: #e83451;}
.lbbg{width: 100%;height: auto;overflow: hidden;font-weight: normal;}
.lbbg table{width:100%;overflow: hidden;border-collapse: collapse;margin-top: 10px;border:0;}
.lbbg table tr th{background: #434343;color:#fff;text-align: center;}
.lbbg table tr td{text-align: center;}
.lbbg table tr .lwxs{text-align: left;text-indent: 25px;}
.lbbg .Img{width: auto;overflow: hidden;position: relative;vertical-align: middle;}
.lbbg table tr td p{width: 85px;height: 122px;margin: 5px 0px 5px 5px;float: left;padding: 5px;border-radius: 5px;}
.lbbg table tr td p img{width: 100%;height: 100%;}
.lbbg table tr.first{background: #f2f2f2;}
.lbbg table tr td a{text-decoration: none;}
.lbbg table tr td .sjwz{width: 150px;margin:0 auto;text-align: center;overflow: hidden;}
.lbbg table tr td .sjwz .sj{line-height: 25px;height:25px;display: block;overflow: hidden;}
.lbbg table tr td .wzts{width: 150px;line-height: 25px;height:25px;margin:0 auto;text-align: center;overflow: hidden;color:red;}

.right-content1 .fyxs1{width: 100%;overflow: hidden;}
.right-content1 .line1{width: 100%;font-size: 12px;}
.right-content1 .line1 .layui-form-item{float: left;clear: none;margin-right: 9px;margin-bottom: 5px;}
.right-content1 .line1 .layui-input-block{ margin-left: 0px;float: left;}
.right-content1 .line1 .layui-input-block input{ padding-left: 0px;height: 30px;line-height: normal;}
.right-content1 .line1 .layui-form-label{ width: auto;padding: 9px 5px;}
.right-content1 .line1 .layui-form-select .layui-input{padding-right: 0px;}
.right-content1 .line1 .layui-btn{margin-top: -12px;margin-left: 5px;height: 30px;line-height: 30px;font-size: 12px;padding: 0 20px;}

.right-content1 .line1 .idInpt{width: 80px;}
.right-content1 .line1 .idInpt1{width: 100px;}


.right-content1 .line2{width: 100%;}
.right-content1 .line2 .layui-form-item{float: left;clear: none;}
.right-content1 .line1 .sssz{margin-left: 15px;margin-top:-2px;}
.lbbg1 table{border-collapse: collapse;border: 1px solid #e2e2e2;}
/*分销渠道内容页*/
.right-content1 .content .tjflnr .layui-input-block{width: 300px;}
.right-content1 .content .tjflnr .layui-input-block .layui-btn{padding: 0 30px;}
/*资讯信息内容页*/
.right-content1 .content .zxlbnr .layui-input-block{width: 300px;} 
.right-content1 .content .zxlbnr .zxlbjs{width: 50%;} 
.right-content1 .content .zxlbnr .layui-input-block .layui-btn{padding: 0 30px;}
.right-content1 .content .zxlbnr input[type="file"]{text-indent:0;padding-left:10px;} 
.right-content1 .content .zxlbnr .chapter-size{position:absolute;left:120px;top:0;display:none;} 

.xzlx .annu7{float: left;width: 80px;height: 30px;background: url(../img/fabu1.png) -12px -77px;cursor: pointer;display: block;}
.xzlx .annu8{float: left;width: 95px;height: 30px;background: url(../img/fabu1.png) -105px -77px;cursor: pointer;display: block;margin-left: 14px;}
.xzlx .fbsqau7{background: url(../img/fabu2.png) -12px -77px;cursor: pointer;}
.xzlx .fbsqau8{background: url(../img/fabu2.png) -105px -77px;cursor: pointer;}

.right-content1 .content .right-body-margin{margin-left:10px;}
.right-content1 .content .input-block-left{float:left;}
.right-content1 .content .advert-upload{height:22px; line-height:20px; margin-top:10px;}

.lbbg1 .tgsh {color: blue;}
.lbbg1 .tgsh1 {color: red;}
.right-content1 .tjfl{float: right;height: 38px;line-height: 38px;padding:0 15px;background: #e83451;border-radius: 5px;cursor: pointer;}
.right-content1 .tjfl a{color: #fff;text-decoration: none;}
.right-content1 .lgtb{width: 80px;height: 80px;margin: 5% 26%;}
.right-content1 .lgtb img{width: 100%;height: 100%;}
.right-content1 .tssz{width: 80px;height: 100px;left: 50%;position: relative; margin-left: -40px;margin-top:5%;margin-bottom: 5.25%;}
.right-content1 .tssz img{width: 100%;height: 100%;}
.right-content1 .tssz .layui-btn1{display: inline-block;height: 25px;line-height: 25px;background-color: #e83451;color: #fff;text-align: center;padding:0 15px;
font-size: 12px;border: none;border-radius: 5px;cursor: pointer;}

.left-nav1 .xsyc{background: "";color:#fff;cursor: pointer;display: block;position: absolute;left: 50%;margin-left: -20px;bottom:0px;}
.left-nav1 .xsyc .layui-icon{font-size: 12px;display: block;line-height: 40px;text-align: center;}
.left-nav1 .xsyc1{width: 40px;position: absolute;bottom:0;}
@media screen and (max-width:640px){
	
	.left-nav1{width: 4%;}
	.right-content1 .tssz{width: 60px;height: 80px;margin-left: -30px;margin-bottom: 6%;}
}
@media screen and(max-width:1920px){
	.left-nav1 .xsyc{background: #e83451;color:#fff;cursor: pointer;display: none;}
	.left-nav1 .xsyc .layui-icon{}
}

.plus-tag a{background: #e83451;
    padding: 0 5px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;}
.right-content1 .lbbg2 .lgtb{margin: 5% auto;}
.right-content1 .lbbg2 .zxlbbt{text-align: left;text-indent: 30px;}
.right-content1 .lbbg2 .zxlbbt div{height: 30px;line-height: 30px;overflow: hidden;}

.bread_menu_div{width: 100%;height: 80px;margin: 0 auto;}
.bread_menu_div p{float: left;}
.bread_menu_number{width: 20px;height: 20px;margin-right: 10px;}
/*第一步选择类型*/
.step_one{display: block;}
.step_one form{width: 730px;height: 250px;margin: 0 auto;margin-top: 30px;}
.step_one form input{margin-left: 40px;font-size: 17px;}
.type_description{height: 60px;/*font-size: 15px;*/margin: 0 auto;margin-top: 20px;font-weight: 300;}
.sumbit_div{width: 730px;height: 60px;}
#check_type{width: 160px;height: 40px;margin: 10px 235px;background-color: #e83451;border: none;color: white;border-radius: 5px;}

/*第二步创建作品*/
.step_two{
	display: none;
}
.step_two form{
	width: 730px;
	height: 400px;
	margin: 0 auto;
}
.step_two form>div{
	margin-top: 20px;
}
.benzhan{
	margin-left: 20px;
}
.tazhan{
	margin-left: 80px;
}
#other_input{
	display: none;
	width: 185px;
	height: 25px;
	line-height: 25px;
	margin-left: 40px;
    border: 1px solid rgb(232,232,232);
	resize: none;
}
.dujia{
	margin-left: 20px;
}
.qita{
	margin-left: 52.5px;
}
.works_name_div input{
	width: 430px;
	height: 25px;
	margin-left: 20px;
	border: 1px solid rgb(232,232,232);
}
.works_name_div span{
	display: block;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 90px;
	font-weight: 300;
}
.works_type_div span{
	display: inline-block;
	width: 430px;
	height: 25px;
	line-height: 25px;
	border: 1px solid rgb(232,232,232);
	margin-left: 20px;
}
.works_type_div select{
	display: inline-block;
	width: 426px;
	border: none;
	background-color:transparent;
	margin: 3px 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#selectedNovelTagList{
	display: inline-block;
	min-width: 430px;
    height: 25px;
    border: 1px solid rgb(232,232,232);
    margin-left: 20px;
}
#selectedNovelTagList>a{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 2.5px;
    background-color: rgb(49, 49, 49);
	border-radius: 3px;
}
#selectedNovelTagList>a>span{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: rgb(49, 49, 49);
    font-size: 12px;
	border-radius: 3px;
	margin-left: 3px;
}
#selectedNovelTagList>a>img{
    display: inline-block;
    width: 7px;
    height: 7px;
	margin-left: 3px;
	margin-right: 3px;
    background-color: rgb(49, 49, 49);
}
.gunnima{
	display: block;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 90px;
}
.works_description_div{
	height: 100px;
}
.works_description_div textarea{
	width: 426px;
	height: 80px;
	margin-left: 20px;
	resize: none;
	border: 1px solid rgb(223,223,223);
	padding-left: 4px;
}
.works_description_div span{
	display: block;
	height: 25px;
	line-height: 25px;
	margin-top: 10px;
	margin-left: 90px;
	font-weight: 300;
}
.create_works_div{
	height: 70px;
}
#create_works{
	width: 160px;
	height: 40px;
	margin-left: 85px;
	background-color: #e83451;
	border: none;
	color: white;
	border-radius: 5px;
	margin-top: 20px;
}
#back_index{
	width: 160px;
	height: 40px;
	margin-left: 20px;
	background-color: #545454;
	border: none;
	color: white;
	border-radius: 5px;
	margin-top: 20px;
}
#back_last{
	width: 160px;
	height: 40px;
	margin-left: 20px;
	background-color: #545454;
	border: none;
	color: white;
	border-radius: 5px;
	margin-top: 20px;
}
/*第三步创建成功*/
.step_three{
	display: none;
}
.step_three form{
	width: 730px;
	height: 400px;
	margin: 0 auto;
}
.create-success_div{
	height: 100px;
	text-align: center;
	margin-top: 30px;
}
.create-success_div img{
	width: 70px;
	height: 70px;
	margin-right: 20px;
}
.create-success_div span{
	color: rgb(49, 49, 49);
	font-size: 25px;
	font-weight: bolder;
}
.create_success_description_div{
	height: 200px;
}
.create_success_description_div p{
	line-height: 40px;
	padding-top: 10px;
}
.continue_upload_div{
	height: 70px;
	text-align: center;
}
#continue_upload{
	width: 200px;
	height: 50px;
	background-color: #e83451;
	border: none;
	/*font-size: 17px;*/
	color: white;
	border-radius: 5px;
}
.change_header{
	width: 100%;
	height: 90px;	
}
.change_header label{
	display: inline-block;
	width: 290px;
	height: 40px;
	background-color: rgb(49, 49, 49);
	color: white;
	margin: 25px 0 25px 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
}
.change_div form{
	height: 400px;
	width: 370px;
	margin-top: 20px;
	margin-left: 30px;
}
.old_pwd_div,.again_pwd_div,.change_pwd_sumbit{
	width: 330px;
	height: 80px;
	margin: 0 auto;
}
.new_pwd_div{
	width: 330px;
	height: 120px;
	margin: 0 auto;
	margin-top: 20px;
}

.old_pwd_div label,.new_pwd_div label,.again_pwd_div label{
	display: block;
	height: 40px;
	width: 330px;
}
.old_pwd_div input,.new_pwd_div input,.again_pwd_div input{
	display: block;
	height: 30px;
	width: 330px;
	font-size: 17px;
	border: 1px solid rgb(232,232,232);
}
.new_pwd_div span{
	display: block;
	width: 330px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: rgb(169,169,169);
}
.change_pwd_sumbit{
	text-align: left;
}
.change_pwd_sumbit button{
	width: 160px;
	height: 40px;
	background-color: #e83451;
	color: white;
	border: none;
	margin-top: 20px;
	border-radius: 5px;
}
/*作家资料*/
/*.bread_menu_div p{*/
	/*float: left;*/
	/*margin-left: 30px;*/
	/*height: 40px;*/
	/*line-height: 40px;*/
	/*font-size: 17px;*/
	/*font-family: "微软雅黑";*/
/*}*/
.info_list{
	height: 50px;
	width: 100%;
	margin: 0 auto;
}
#author_info,#author_details,#financial_info{
	display: inline-block;	
	height: 50px;
	background-color: #f3f3f3;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
}
#author_info{
	width: 280px;
	margin-left: 30px;
}
#author_details{
	width: 290px;
}
#author_details:hover{
	color: black;
}
#financial_info{
	width: 290px;
}
#financial_info:hover{
	color: black;
}
.info_content_01{
	width: 100%;
	margin: 0 auto;
}
.info_content_01_left{
	width: 600px;
	margin-left: 30px;
	margin-top: 30px;
	float: left;
}
.info_content_01_left>div{
	width: 600px;
	height: 40px;
}
.info_content_01_left>div>label{
	display: inline-block;
	width: 150px;
	height: 40px;
	text-align: justify;
	font-weight: normal;
	margin-right: 20px;
	text-align-last: justify;
	padding-left: 80px;
} 
#author_id,#pseudonym,#editor{
	text-indent: 0px;
	display: inline-block;
	width: 320px;
	height: 40px;
	border: none;
}

.info_content_01_left>div>span{
	display: inline-block;
	width: 60px;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
}
.info_content_01_left>div>span>input{
	margin-right: 10px;
}
#author_name,#PIN_codes,#author_email,#author_phone{
	display: inline-block;
	width: 320px;
	height: 30px;
	border: 1px solid rgb(232,232,232);
}
.adress_details{
	clear: both;
	height: 30px;
	width: 425px;
	margin-left: 175px;
}

#author_adress{
	display: block;
	width: 420px;
	height: 30px;
	line-height: 30px;
	border: 1px solid rgb(232,232,232);
}
.info_content_01_right{width: 250px;float: left;}
.form-inline{float: left;width: 400px;}
#author_icon{display: block;width: 108px;height: 162px;margin-top: 0px;margin-left: 110px;}
#demoText{margin-left: 110px;line-height: 20px;margin-top:10px;}
#change_photo{
	display: block;
	line-height: 24px;
	text-align: center;
	/*border: 1px solid rgb(167, 167, 167);*/
	color: white;
	background-color: #e83451;
	margin:15px 0;
	padding: 5px 20px;
	font-size: 12px;
	border-radius: 5px;
	margin-left: 110px;
}

#verticalPic{
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid rgb(49, 49, 49);
	color: rgb(49, 49, 49);
	background-color: white;

}

.save_info{
	width: 930px;
	height: 60px;
}
#save_info{
	width: 160px;
	height: 40px;
	background-color: #e83451;
	color: white;
	border: none;
	margin-left: 206px;
	border-radius: 5px;
}
.manage_top{
	width: 100%;
	height: 60px;
}
.manage_top p{
	display: inline-block;
	height: 60px;
	line-height: 60px;
	/*font-size: 17px;*/
	float: left;
	margin-left: 30px;
}
.manage_top p span{
	color: rgb(49, 49, 49);
	margin: 0 10px;
}
.manage_top a{
	display: inline-block;
	width: 90px;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-right: 30px;
	background-color: #e83451;
	text-decoration: none;
	float: right;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.worksmanage_table{
	margin-left: 30px;
	margin-right: 30px;
}
.worksmanage_table thead{
	height: 40px;
	line-height: 40px;
	background-color: #f3f3f3;
	color: #545454;
	font-size: 13px;
	font-weight: normal;
}
.worksmanage_table tbody tr{
	height: 120px;
	background-color: rgb(255, 255, 255);
	text-align: center;
	font-size: 13px;
	border-bottom: 1px dashed lightgray;
}
/*#table_span{*/
	/*display:inline-block;*/
	/*width:220px;*/
	/*text-align: left; */
/*}*/
.works_icon{
	display: inline-block;
	width: 65px;
	height: 90px;
	margin-left: 10px;
}
.worksmanage_workname{
	display: inline-block;
	width: 125px;
	margin-left: 10px;
	margin-right: 10px;
}
.worksmanage_page{
	width: 100%;
	height: 60px;
	text-align: center;
	margin-top: 20px;
}
.exp{
	margin-left: 30px;
}

.exp_txt{
	color: #f00;
	margin-bottom: 20px;
}
.setbtn,.setbtn1{
	color: #000000;
	margin-left: 10px;
	padding: 6px 8px;
	/* background-color: #5d5d5d; */
	border-radius: 2px;
	/* font-weight: 300; */
}
.setbtn:hover{
	color:#e83451;
	/*background-color: #e83451;*/
}
.setbtn1:hover{
	color:#e83451;
	/*background-color: #e83451;*/
}
.margin_left_and_right{
	margin-left: 30px;
	margin-right: 30px;
}
.works_setup_left{
	width: 150px;
	height: 380px;
	float: left;
	margin-top: 30px;
}
#works_icon{
	display: inline-block;
	width: 120px;
	height: 150px;
}
#works_text{
	width: 120px;
	margin-top: 10px;	
}
#upload_photo{
	width: 120px;
	height: 30px;
	line-height: 30px;
	background-color: #e83451;
}
.works_setup_right{
	width: 700px;
	height: 380px;
	float: left;
	margin-top: 30px;
}
.works_setup_right>div:not(.first_publish_div){
	margin-top: 20px;
}
/*作品管理-作品设置*/
.normal_tab{
	height: 45px;
	margin: 0 30px;
	border-bottom: 1px solid lightgray;
}
.normal_tab a{
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	background-color: white;
	border: none;
	margin-right: 80px;
	margin-top: 3px;
	text-align: center;
}
#new_chapter{
	float: right;
	background-color: #e83451;
	color: white;
	height: 35px;
	line-height: 35px;
	margin-right: 0px;
	cursor: pointer;
	border-radius: 5px;
}
/*作品管理-作品设置*/
.worksetup_content{
	/*margin: 30px 30px 0 30px;*/

	float: left;
	margin-right: 60px;
}
.upload_works_icon{
	width: 120px;
	text-align: center;
	float: left;
	margin-right: 40px;
}
.upload_works_icon img{
	width: 120px;
	height: 150px;
	margin-bottom: 10px;
}
.upload_works_icon a{
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
}
.setup_work_info{
	width: 600px;
	float: left;
}
.setup_work_info div{
	margin-top: 20px;
}/*作品管理-作品设置*/

/*作品管理-已发布章节*/
.publish_content{
	margin: 30px 30px 0 30px;
}
/*作品管理-已发布章节-章节目录*/
.chapter_list{
	width: 180px;
	float: left;
	margin-right: 20px;
}
.chapter_amount_div{
	width: 180px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background-color: #e83451;
	color: white;
	font-size: 18px;
}
.chapter_amount_div span{
	margin: 0 5px;
	color: red;
}
.chapter_catalog{
    width: 178px;
    height: 700px;
    border: 1px solid lightgray;
    overflow: hidden;
}
.chapter_catalog ul{
	width: 195px;
	height: 700px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.chapter_catalog ul li{
	width: 178px;
	height: 50px;
	background-color: rgb(250,250,250);
	border-bottom: 1px solid rgb(230,230,230);
}
.chapter_catalog ul li p{
	width: 178px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	white-space: nowrap;
	text-overflow:ellipsis; 
	overflow:hidden;
	text-indent: 5px;
}
.chapter_catalog ul li span{
	display: inline-block;
	float: left;
	font-size: 13px;
	color: gray;
}
.wordsNum{
	display: inline-block;
    width: 75px;
	margin-left: 5px;
    text-align: left;
}
.updateTime{
	display: inline-block;
    width: 93px;
	margin-right: 5px;
    text-align: right;
}

.chapter_catalog_active{
	background-color: rgb(226,236,255) !important;
}
/*作品管理-已发布章节-章节目录*/

/*作品管理-已发布章节-章节内容*/
.chapter_content{
	width: 670px;
	float: left;
}
.chapter_content_title{
	width: 668px;
	height: 50px;
	border: 1px solid lightgray;
}
.chapter_content_title input{
	display: inline-block;
	height: 30px;
	width: 668px;
	line-height: 30px;
	border: none;
	margin-top: 10px;
}
.chapter_content_text{
	width: 668px;
	height: 550px;
	border: 1px solid lightgray;
	border-top: none;
	position: relative;
}
.chapter_content_text textarea{
	width: 663px;
	height: 518px;
	border: none;
	resize: none;
	padding-left: 5px;
}
.chapter_content_text span{
	position: absolute;
	bottom: 5px;
	right: 20px;
	background-color: white;
}
.chapter_content_message{
	width: 668px;
	height: 100px;
	border: 1px solid lightgray;
	border-top: none;
}
.chapter_content_message textarea{
	width: 668px;
	height: 100px;
	border: none;
	resize: none;
}
.chapter_content_top{
	width: 670px;
	height: 48px;
	margin-top: 15px;
}
#chapter_delete{
	width: 80px;
	height: 30px;
	background-color: white;
	color: rgb(49, 49, 49);
	border: 1px solid lightgray;
	margin-right: 20px;
	float: left;
}
#chapter_save{
	display: none;
	width: 80px;
	height: 30px;
	background-color: #e83451;
	color: white;
	border: none;
	float: left;
}
#chapter_modify{
	width: 80px;
	height: 30px;
	background-color: #e83451;
	color: white;
	border: none;
	float: left;
	margin-right: 10px;
}

/*已发布章节*/

/*草稿箱*/
.newchapter_content{
	margin: 30px 30px 0 30px;
}
.no_title{
	display: none;
	
}
#no_title_p{
	height: 50px;
	line-height: 50px;
	width: 178px;
	background-color: rgb(226,236,255);		
}

.author_header{
	width: 930px;
	height: 90px;
}
#newchapter_delete{
	float: left;
	width: 80px;
	height: 30px;
	color: rgb(49, 49, 49);
	border: 1px solid lightgray;
	background-color: white;
	margin-right: 20px;
}
#newchapter_save{
	width: 80px;
	height: 30px;
	color: rgb(49, 49, 49);
	border: 1px solid lightgray;
	background-color: white;
	float: left;
	margin-right: 20px;
}
#newchapter_publish{
	width: 80px;
	height: 30px;
	background-color: #e83451;
	color: white;
	border: none;
	float: left;
}
/*章节列表*/
.works_list_top{
	height: 90px;
	width: 930px;
}
.works_list_addChapter{
	height: 40px;
	width: 100%;
	margin-top: 10px;
}
.works_list_addChapter a{
	float: right;
	background-color: #e83451;
	color: white;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin-right: 30px;
	text-align: center;
	cursor: pointer;
	border-radius: 5px;
}
.works_list_chapterType{
	height: 40px;
	width: 100%;
	margin-top: 10px;
}
.works_list_chapterType p{
	margin-left: 30px;
	height: 40px;
	line-height: 40px;
}
.works_list_chapterType p input{
	margin-left: 10px;
}
.works_list_chapterType p label{
	margin-left: 5px;
}
.works_list_content{
	margin: 10px 30px 0 30px;
}
.works_list_table{
	text-align: center;
}
.works_list_table thead{
	background: rgb(243,243,243);
	height: 40px;
	line-height: 40px;
	color: black;
	font-size: 15px;
	font-weight: normal;
	border: 1px solid lightgray;
}
.works_list_table tbody tr td{
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	border: 1px solid lightgray;
}
.works_list_table tbody tr td a{
	color: rgb(4,109,174);
	cursor: pointer;
}

/*尾部*/

footer{width: 100%;height: 120px;margin: 0 auto;color: #a4aebd;background-color: rgb(246, 246, 246);}
footer .container {width: 1200px;height: 100px;margin: 0 auto;text-align: center;background-color: rgb(246, 246, 246);}
ul.footer-info {text-align: center;font-size: 14px;color: #c3c4c5;height: 50px;margin-top: 10px;margin-bottom: 0;padding: 0;}
ul.footer-info li.footer-item{display: inline-block;margin-left: 20px;height: 40px;line-height: 40px;}
.footer-brand{height: 50px;width: 1200px;margin: 0 auto;}
.logo-grey {color: #fff;width: 155px;height: 43px;text-decoration: none;margin: 0 auto;background: url(../img/logo_2.png) no-repeat;background-size: 155px 43px;}


/*新的头部 start*/
.heading {position: relative;line-height: 70px;height: 70px;border-bottom: 1px solid #d3d4d5;background-color: #fff;}
.heading .container{position: relative;width: 1180px;margin: 0 auto;padding: 0 10px;overflow: hidden;margin-top:-8px;}
.heading .container .H-left{float: left;}
.heading .container .H-left .bt{overflow: hidden;position: relative;}
.heading .container .H-left .bt .dbt{display: block;width: 155px;height: 42px;line-height: 70px;float: left;}
.heading .container .H-left .bt .dbt img{width: 100%;height: 100%;}
.heading .container .H-left .bt .xbt{line-height: 50px;font-size: 14px;float: left;margin-left: 15px;margin-top: 20px;}
.heading .container .H-right{float: right;}
.heading .container .H-right .lbj{list-style: none;float: left; line-height: 54px;height: 70px;background: transparent;padding: 0;margin-top: 8px;}
.heading .container .H-right .lbj .nav-item{display: list-item; float: left;list-style: none;position: relative;cursor: pointer;margin: 0 0 0 40px;}
.heading .container .H-right .lbj .nav-item a{text-decoration: none;color: #333333;display: block;padding: 0;opacity: .8;border-top: 5px solid #fff;font-size: 16px;}
.heading .container .H-right .lbj .nav-item a.active {color: #e83451;border-top: 5px solid #e83451;}

.heading .nav-user { display: list-item;float: left;list-style: none;position: relative;cursor: pointer;margin: 0 0 0 20px; margin-left: 50px;height: 70px;margin-top: 3px;}
.heading .nav-user .user-btn {margin-top: 20px;width: 30px;height: 30px; display: block;overflow: hidden;border-radius: 100%;border: 1px solid #ddd;}
.heading .nav-user .user-btn .icon-user {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../img/index.png) 50%/cover no-repeat;
    background-size: 14px;}
.heading .nav-user .dlztlater{float: left;}
.heading .nav-user .dlztlater .icon-user{float:left;margin-top:20px;display: block;
    width: 30px;
    height: 30px;
    
    background-size: 14px;border-radius: 100%;position: relative;} 
.heading .nav-user .dlztlater .icon-user img{border: 1px solid #ddd;border-radius: 100%;position: absolute;top:3px;left: 5px;width: 70%;height: 75%;}
.heading .nav-user .dlztlater .mc{float: left;}
.heading .nav-user .dlztlater .tc{float: left;margin-left: 15px;}
/*新的头部 end*/


/*登陆和注册页面*/
.logtoreg{width: 100%;height: 100%;position: relative;background-color: #F6F6F6;}
.signIn_box{width: 390px;height: 600px;position: relative;margin: 100px auto;margin-top: 0px;top:100px;}
.signIn_head{width: 100%; clear: both;}
.signIn_head li{float: left;width: 50%;height: 56px;line-height: 56px;text-align: center;}
.signIn_head ul li{list-style: none;}
.signIn_head li a{color: #fff; background: #e83451;display: block;opacity: 0.5;filter: alpha(opacity=50);text-decoration: none;cursor: pointer;}
.signIn_head li.active a{color: #333;background: #FFF;opacity: 1; filter: alpha(opacity=100);}
.signIn_main{width: 100%;height: 400px;background: #FFF;clear: both;}
.signIn_main .signIn_tab{width: 100%;display: none;}
.signIn_main .signIn_tab .signIn_tab_box{width: 316px; margin: auto; padding-top: 32px;}
.login-account-div{width: auto;height: 40px;line-height: normal;margin-bottom: 10px;margin-top: 0;}
.signIn_main .login-password-div{margin-bottom: 10px;height: auto;margin-top: 0;}
.login-code-div{margin-bottom: 10px;height: auto;margin-top: 0;margin-left:0px;overflow:inherit;}
.signIn_box label{display: inline-block;max-width: 100%; margin-bottom: 5px;}
.signIn_box input{ width: 100%; height: 38px; line-height: normal;border: 1px solid #d7d7d7; outline: none;font-size: 14px;text-indent: 5px;}
.signIn_box .tsy{float: left;color: red;font-size: 14px;height: 20px;line-height: 20px;}
.signIn_box .yzm{display: block;}
.signIn_tab_box .login-submit-div{margin-top: 30px;}
.signIn_tab_box #login-submit{margin-left: 83px;font-size: 16px;}
.signIn_box p{color: #ccc;margin-top:10px;font-size: 14px;clear: left;padding-top: 20px;}
.signIn_box .login-code-div .imgDiv .yzm{width: 100%;}

/*制作人页面*/
.right-content .cont .zzrym .layui-form-label{width: 115px;}
.right-content .cont .zzrym .layui-input-block{margin-left: 115px;}
.right-content .cont .zzrym .sctpnr{margin-left: 115px;margin-bottom: 15px;}
.right-content .cont .zzrym .sctpnr .layui-upload-img{width: 108px;}
.right-content .cont .zzrym .info_content_01_right{margin-bottom: 20px;clear: left;}
.right-content .cont .zzrym .scbtn{margin-left: 115px;padding: 0 26px;}