<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {include file="public/head" /}

    <style>
        .irs-with-grid {
            margin-top: -18px;
        }
        .modal-body{
            overflow: scroll;
        }

        .modal-body img{
            width:50%;
        }
    </style>

</head>

<body class="hold-transition skin-black-light sidebar-mini">

<div class="wrapper">

    {include file="public/header" /}

    {include file="public/left_menu" /}

    <div class="content-wrapper">
            <section class="content">
                <div class="table-box">
                    <form class="form-inline" style="padding: 20px 0">
                        <div class="form-group date-picker">
                            <label for="exampleInputName2"></label>
                            <input name="startDate" placeholder="选择开始时间" class="form-control " id="date_begin" type="text"
                                value="{:request()->get('startDate','')}"> -
                            <input name="endDate" placeholder="选择结束时间" class="form-control " id="date_end" type="text"
                                value="{:request()->get('endDate','')}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="keyword" class="form-control" placeholder="员工姓名搜索" value="{:request()->get('keyword','')}" />
                        </div>
                        <button type="submit" class="btn btn-default">搜索</button>
                    </form>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="text-align: center;">员工姓名</th>
                                <th style="text-align: center;">账号</th>
                                <th style="text-align: center;">创建时间</th>
                                <th style="text-align: center;">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $model as $key=>$value}
                            <tr>
                                <td style="text-align: center;">
                                    {$value->username}
                                </td>
                                <td style="text-align: center;">
                                    {$value->account}
                                </td>
                                <td style="text-align: center;">
                                    {$value->create_time}
                                </td>
                                <td style="text-align: center;">
                                    <a href="{:url('user/show',['id'=>$value->id])}" style="color:#fff" class="btn btn-warning">编辑</a>
                                    <a href="#" data-href="{:url('user/delete')}" data-ids="{$value->id}" 
                                        style="color:#fff" class="btn btn-danger delete-prompt">删除</a>
                                </td>
                            </tr>
                            {/foreach}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation" style="margin-left:20px">
                        {$model->render()}
                    </nav>
                </div>
            </section>
            <!-- /.content -->
        </div>
        
    <!-- Add the sidebar's background. This div must be placed
   immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>


{include file="public/footer" /}

<script src="__STATIC__/js/global.js"></script>
<!-- AdminLTE for demo purposes -->

<script>
    $(function () {

        function DatePicker(beginSelector, endSelector) {            // 仅选择日期  
            $(beginSelector).datepicker({
                language: "zh-CN",
                autoclose: true,
                startView: 0,
                format: "yyyy-mm-dd",
                clearBtn: true,
                todayBtn: false,
                endDate: new Date()
            }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(endSelector).datepicker('setStartDate', new Date(ev.date.valueOf()))
                } else {
                    $(endSelector).datepicker('setStartDate', null);
                }
            })
            $(endSelector).datepicker({
                language: "zh-CN",
                autoclose: true,
                startView: 0,
                format: "yyyy-mm-dd",
                clearBtn: true,
                todayBtn: false,
                endDate: new Date()
            }).on('changeDate', function (ev) {
                if (ev.date) {
                    $(beginSelector).datepicker('setEndDate', new Date(ev.date.valueOf()))
                } else {
                    $(beginSelector).datepicker('setEndDate', new Date());
                }
            })
        } DatePicker("#date_begin", "#date_end");

    });
</script>

</body>

</html>