{extend name="public:user" /}

{block name="main"}

	<div class="right-content">
		<div class="content">
			<div class="cndh"><i class="layui-icon">&#xe705;</i>&nbsp;作家投稿平台&nbsp;>&nbsp;章节目录</div>
			<a class="tjsb" href="{:url('UserSectionAdd',['book_id' => $book_id])}" >
				<i class="layui-icon">&#xe654;</i>添加章节
			</a>
		</div>
		
		<div class="tjsbnr">
			<div class="tables" style="overflow:hidden;">
				<div class="nrbt">
					<div class="p6" style="text-align:left;text-indent:20px;width:120px;">章节ID</div>
					<div class="p6" style="text-align:left;text-indent:20px;width:250px;">章节标题</div>
					<div class="p6">章节字数</div>
					<div class="p6">更新时间</div>
					<div class="p6" style="width:230px;">操作</div>
				</div>
				<div class="nr">
					{volist name="list" id="vo" mod="2"}
					<div class="yh" {eq name="mod" value="1"}style="background:#fff;"{/eq} >
						<div class="p6 muh" style="text-align:left;text-indent:20px;width:120px;">
							<a >{$vo->sort}</a>
						</div>
						<div class="p6 muh" style="text-align:left;text-indent:20px;width:250px;">
							<a target="_blank" href="{:url('HomeSectionShow',['id'=>$vo->id])}" >{$vo->title}</a>
						</div>
						<div class="p6 muh">
							<span>{$vo->char}字</span>
						</div>
						<div class="p6 muh">
							<span>{:date('Y-m-d H:i:s',$vo->update_time)}</span>
						</div>
						<div class="p6 muh" style="width:230px;">
							<div class="xs">
								{if condition="$vo->check == 0"}
								<a href="{:url('UserSctionEdit',['book_id' => $book_id,'id' => $vo->id])}">修改</a>
								{else /}
								<a>已审核</a>
								{/if}
								<!-- <a class="del">删除</a> -->
							</div>
						</div>
					</div>
					{/volist}
				</div>
			</div>
			
		</div>
		<div class="fyxs">
			<div id="test1">
				{$list->render()}
			</div>
		</div>
	</div>

{/block}

{block name="css"}
	
{/block}

{block name="js"}
	<script>
		/*删除*/
		var cns=document.getElementsByClassName('del');
		for(var i=0;i<cns.length;i++){
			cns[i].onclick=function(){
				//this.parentNode.parentNode.parentNode.parentNode.removeChild(this);
				var obj=this.parentNode.parentNode.parentNode;
				obj.parentNode.removeChild(obj);
			}
		}
		


	</script>
{/block}
