<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{block name="title"}作家投稿平台{/block}</title>
		<link rel="stylesheet" href="{:asset('/static/css/style.css')}" />
		<link rel="stylesheet" href="{:asset('/static/css/normalize.css')}" />
		<link rel="stylesheet" href="{:asset('/static/css/main.css')}" >
		<link rel="stylesheet" href="{:asset('/static/css/bootstrap.min.css')}" />
		<link rel="stylesheet" href="{:asset('/static/layui/css/layui.css')}" />

		<script type="text/javascript" src="{:asset('/static/js/jquery-1.7.1.js')}"></script>
		<script type="text/javascript" src="{:asset('/static/js/common/jquery-3.2.1.min.js')}"></script>	
		<script type="text/javascript" src="{:asset('/static/layui/layui.js')}" ></script>
		<script type="text/javascript" src="{:asset('/static/js/vCode.js')}" ></script>
		<script type="text/javascript" src="{:asset('/static/js/easing.js')}"></script>		
		<script type="text/javascript" src="{:asset('/static/js/distpicker.data.js')}"></script>
	    <script type="text/javascript" src="{:asset('/static/js/distpicker.js')}"></script>
	    <script type="text/javascript" src="{:asset('/static/js/bootstrap.min.js')}" ></script>
	    <script type="text/javascript" src="{:asset('/static/js/Book.js')}"></script>

		{block name="css"}{/block}

	</head>
	<body class="create-body">
		<!--导航栏-->
		{block name="head"}
		<!--导航栏-->
		<div class="nav-bar" id="nav-bar">
			<div class="tp tp1">
				<img class="nav-bar-img" src="{:asset('/static/img/nav_img.png')}" />
				<div class="rg">
					{if condition="controller('Common','controller')->isAdminCheck()"}
					<div class="tc">
						<a href="{:url('AdminMakerEdit',['id'=>session('admin.id')])}">
							<div class="tcqd">
								<p><img src="{:asset('/static/img/account1.png')}"></p>
								<span>{:session('admin.name')}</span>
							</div>
						</a>
						<a href="{:url('AdminLoginOut')}" class="tcwz">退出</a>
					</div>
					{/if}
				</div>
			</div>
		</div>
		{/block}

		<div class="wrap">
			{block name="left"}
			<div class="left-nav left-nav1" id="left_nav" style="height: 100%;">
				{if condition="session('admin.role') == 1"}
				<ul class="layui-nav layui-nav-tree" id="xlcd" lay-filter="test" style="width:100%;">
					<li class="layui-nav-item {if condition="routerJudge('admin/setting')"}layui-nav-itemed{/if}" style="padding-left:0px;">
			          <a class="" href="javascript:;">设置</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/setting/home')"}class="layui-this"{/if} ><a href="{:url('AdminSettingHome')}">首页推介</a></dd>
			            <dd {if condition="routerJudge('admin/setting/advert')"}class="layui-this"{/if} ><a href="{:url('AdminSettingAdvert')}">广告位推介</a></dd>
			          </dl>
			        </li>
			        <li class="layui-nav-item {if condition="routerJudge('admin/book') || routerJudge('admin/section') || routerJudge('admin/category')"}layui-nav-itemed{/if}" style="padding-left:0px;">
			          <a class="" href="javascript:;">作品管理</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/book')"}class="layui-this"{/if} ><a href="{:url('AdminBook')}">书籍列表</a></dd>
			            <dd {if condition="routerJudge('admin/section')"}class="layui-this"{/if} ><a href="{:url('AdminSection')}">章节审核</a></dd>
			            <dd {if condition="routerJudge('admin/category')"}class="layui-this"{/if} ><a href="{:url('AdminCategory')}">分类管理</a></dd>
			          </dl>
			        </li>
			        <li class="layui-nav-item {if condition="routerJudge('admin/place')"}layui-nav-itemed{/if}" style="padding-left:0px;">
			          <a href="javascript:;">分销</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/place')"}class="layui-this"{/if} ><a href="{:url('AdminPlace')}">分销渠道</a></dd>
			          </dl>
			        </li>
			        <li class="layui-nav-item {if condition="routerJudge('admin/news')"}layui-nav-itemed{/if}" style="padding-left:0px;">
			          <a href="javascript:;">资讯</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/news')"}class="layui-this"{/if} ><a href="{:url('AdminNews')}">资讯列表</a></dd>
			          </dl>
			        </li>
			        <li class="layui-nav-item {if condition="routerJudge('admin/user') || routerJudge('admin/maker')"}layui-nav-itemed{/if}"" style="padding-left:0px;">
			          <a href="javascript:;">用户管理</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/user')"}class="layui-this"{/if} ><a href="{:url('AdminUser')}">作者</a></dd>
			            <dd {if condition="routerJudge('admin/maker')"}class="layui-this"{/if} ><a href="{:url('AdminMaker')}">制作人</a></dd>
			          </dl>
			        </li>
			      </ul>

			      {else /}

			      <ul class="layui-nav layui-nav-tree" id="xlcd" lay-filter="test" style="width:100%;">
			        <li class="layui-nav-item {if condition="routerJudge('admin/book') || routerJudge('admin/section') || routerJudge('admin/category')"}layui-nav-itemed{/if}" style="padding-left:0px;">
			          <a class="" href="javascript:;">作品管理</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/book')"}class="layui-this"{/if} ><a href="{:url('AdminBook')}">书籍列表</a></dd>
			            <dd {if condition="routerJudge('admin/section')"}class="layui-this"{/if} ><a href="{:url('AdminSection')}">章节审核</a></dd>
			          </dl>
			        </li>
 			        <!--<li class="layui-nav-item {if condition="routerJudge('admin/news')"}layui-nav-itemed{/if}" style="padding-left:0px;">
			          <a href="javascript:;">资讯</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/news')"}class="layui-this"{/if} ><a href="{:url('AdminNews')}">资讯列表</a></dd>
			          </dl>
			        </li> -->
			        <li class="layui-nav-item {if condition="routerJudge('admin/user') || routerJudge('admin/maker')"}layui-nav-itemed{/if}"" style="padding-left:0px;">
			          <a href="javascript:;">用户管理</a>
			          <dl class="layui-nav-child">
			            <dd {if condition="routerJudge('admin/user')"}class="layui-this"{/if} ><a href="{:url('AdminUser')}">作者</a></dd>
			          </dl>
			        </li>
			      </ul>
			      {/if}
			      <div class="xsyc" id="xsyc"><i class="layui-icon">&#xe65b;</i></div>
			</div>
			{/block}

			{block name="main"}{/block} 
		</div>

		<!-- JS -->
		<script>
			layui.use('element', function(){
			  var form = layui.form;
			  //监听提交
			});
		</script>
		{block name="js"}{/block}
		
	</body>
</html>
