<!--head-->
<div class="header">
  <div class="container clearfix">
    <div class="logo-box">
      <a href="/">
        <img src="/static/img/t-logo.png" alt="" width="100%" height="100%">
      </a>
    </div>
    <div class="nav clearfix">
      <ul class="clearfix">
        <li>
          <a href="/">首页</a>
        </li>
        <li>
          <a href="{:url('HomeNewsList')}">
            资讯
          </a>
        </li>
        <li>
          <a href="{:url('HomeBookList')}">
            作品列表
          </a>
        </li>
        <li>
          <a href="{:url('HomeMaker')}">制作人阵容</a>
        </li>
        <li>
          <a href="{:url('HomeWe')}">关于我们</a>
        </li>
      </ul>
    </div>
    <div class="inputs">
      <div class="search">
        <div class="box">
          <form action="{:url('HomeBookList')}" method="get">
            <input type="text" name="title" placeholder="输入您想查找的书籍">
            <button type="submit"></button>
          </form>
        </div>
        <!-- <span style="margin-left: 15px">热门搜索：</span>
            <span>
              <a href="#">无效婚姻</a> &nbsp;&nbsp;</span>
            <span>
              <a href="#">无效婚姻</a> &nbsp;&nbsp;</span>
            <span>
              <a href="#">无效婚姻</a> -->
        </span>
      </div>

      {if condition="controller('Common','controller')->isUserCheck()"}
      <div class="user-login clearfix" >
        <div class="tx">
          <a href="{:url('UserLogin')}"><img src="{:imagePath(['table'=>'user','category'=>'image'],session('user.image'))}" alt="" width="100%" height="100%"></a>
        </div>
        <a href="{:url('UserLogin')}">
          <p title="{:session('user.pen_name')}" class="username text-nowrap">
            {:session('user.pen_name')}
          </p>
        </a>
        <a href="{:url('UserLoginOut')}" class="logout">退出</a>
      </div>
      {else /}
      <div class="user not-login">
        <a href="{:url('UserLogin')}">
          <img width="100%" height="100%" src="/static/img/defaultHd.jpg" />
        </a>
      </div>
      {/if}
      
      
    </div>
  </div>
</div>
<!--header end-->