<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$title}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    

    {include file="public/head" /}

    <!-- ion slider Nice -->
    <link rel="stylesheet" href="__STATIC__/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="__STATIC__/bower_components/umeditor/themes/default/css/umeditor.min.css">
    <link rel="stylesheet" href="__STATIC__/bower_components/bootstrap-fileinput/css/fileinput.min.css">

    <style>
        .upimg {
            display: block;
            width: 80px;
            height: 30px;
            border: 1px solid #efefef;
            box-sizing: border-box;
            color: #333;
            text-align: center;
            line-height: 30px;
            margin-top: 6px;
            border-radius: 4px;
        }
        .pos{
            position: absolute;
            left: 640px;
            top: 146px;
        }

    </style>

    <style>
        .select2-container--default .select2-selection--single {
            border: 1px solid #efefef;
            border-radius: 0;
            padding-left: 0px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 25px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            border-color: #333 transparent transparent transparent;
            border-width: 6px 4px 0 4px;
        }
        .showorhide{
            min-width: 234px;
        }
    </style>
</head>

<body class="hold-transition skin-black-light sidebar-mini">
    <div class="wrapper">
        
        {include file="public/header" /}

        {include file="public/left_menu" /}

        <div class="content-wrapper">
            <section class="content">
                <div class="table-box">
                    <form class="cyb-form sb" action="{:url('problem/handle')}" id="subFrom" style="padding:0">
                        <div class="form-penl">
                            <p class="title">
                                基本信息
                            </p>

                            {if condition="isset($data)"}
                            <input type="hidden" name="id" value="{$data->id}" />
                            {/if}
                            <input type="hidden" name="images" id="images"
                            value="{if condition="isset($path)"}{:implode(",",$path)}{/if}" />

                            <div class="form-group clearfix">
                                <label for="inputEmail3" class="control-label">问题类型：</label>
                                <div class="control-input">
                                    <select name="source" class="form-control " id="">
                                        {foreach $source as $key=>$value}
                                        <option {if condition="isset($data) && $data->source == $key "}selected{/if} value="{$key}">
                                            {$value}
                                        </option>
                                        {/foreach}
                                    </select>
                                    <p class="error source-error"></p>
                                </div>
                            </div>

                            <div class="form-group clearfix">
                                <label for="inputEmail3" class="control-label">类型对象：</label>
                                <div class="control-input">
                                    <select name="group" class="form-control " id="">
                                        {foreach $group as $key=>$value}
                                        <option {if condition="isset($data) && $data->group == $key "}selected{/if} value="{$key}">
                                            {$value}
                                        </option>
                                        {/foreach}
                                    </select>
                                    <p class="error group-error"></p>
                                </div>
                            </div>
                    
                            <div class="form-group clearfix">
                                <label for="inputPassword3" class=" control-label">问题标题：</label>
                                <div class="control-input">
                                    <input name="title" type="text" class="form-control" placeholder="请简明概要的描述一下故障，尽量出现故障关键字" style="width:400px" value="{if condition="isset($data)"}{$data->title}{/if}">
                                    <p class="error title-error"></p>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="inputEmail3" class=" control-label">问题描述：</label>
                                <div class="control-input ">
                                    <textarea name="description" id="editor" cols="20" rows="2" >{if condition="isset($data)"}{$data->description}{/if}</textarea>
                                    <!-- <script id="container" name="content" style="width:500px" type="text/plain">
                                        这里填编辑预设文档
                                        </script> -->
                                    <p class="error description-error"></p>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="inputEmail3" class=" control-label">问题回答：</label>
                                <div class="control-input ">
                                    <textarea name="answer" id="editor1" cols="20" rows="2" >{if condition="isset($data)"}{$data->answer}{/if}</textarea>
                                    <!-- <script id="container1" name="content" style="width:500px" type="text/plain">
                                            这里填编辑预设文档
                                            </script> -->
                                    <p class="error answer-error"></p>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                    <label for="inputEmail3" class=" control-label">处理备注：</label>
                                    <div class="control-input ">
                                       <textarea name="remark" id="" class="form-control"  style="width:500px">{if condition="isset($data)"}{$data->remark}{/if}</textarea>
                                       <p class="error remark-error"></p>
                                    </div>
                                </div>
                            <div class="form-group clearfix">
                                <label for="inputEmail3" class=" control-label">故障截图：</label>
                                <div class="control-input " style="width:850px">
                                    <div id="temp-image">
                                        {if condition="isset($images)"}
                                        {foreach $images as $image}
                                            <img src="{$image->image->path}" width="150" alt="">
                                        {/foreach}
                                        {/if}
                                    </div>
                                    <input type="file" name="txt_file" id="txt_file" multiple class="file-loading" />
                                    <p class="help-block">
                                        请一次性选择图片上传
                                    </p>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <label for="inputEmail3" class=" control-label"></label>
                                <div class="control-input ">
                                    <button type="submit" class="btn btn-default">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <!-- /.content -->
        </div>

        <div class="control-sidebar-bg"></div>
    </div>

    <!-- ./wrapper -->

    <!-- jQuery 3 -->
    <script src="__STATIC__/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="__STATIC__/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

    <!-- ckeditor 4.1 -->
    <script src="__STATIC__/bower_components/ckeditor/ckeditor.js"></script>

    <!-- Bootstrap 3.3.7 -->
    <script src="__STATIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Morris.js charts -->
    <script src="__STATIC__/bower_components/raphael/raphael.min.js"></script>
    <script src="__STATIC__/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="__STATIC__/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="__STATIC__/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="__STATIC__/bower_components/moment/min/moment.min.js"></script>
    <script src="__STATIC__/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="__STATIC__/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="__STATIC__/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="__STATIC__/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="__STATIC__/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="__STATIC__/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="__STATIC__/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="__STATIC__/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <script src="__STATIC__/dist/js/cityData.js"></script>
    <script src="__STATIC__/dist/js/jquery.cxselect.min.js"></script>
    <script src="__STATIC__/bower_components/select2/dist/js/select2.min.js"></script>
    <!-- <script src="__STATIC__/bower_components/umeditor/umeditor.config.js"></script>
    <script src="__STATIC__/bower_components/umeditor/umeditor.min.js"></script>
    <script src="__STATIC__/bower_components/umeditor/lang/zh-cn/zh-cn.js"></script> -->
    <script src="__STATIC__/bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="__STATIC__/bower_components/bootstrap-fileinput/js/locales/zh.js"></script>

    <script>
        $(function () {

            $("#subFrom").submit(function (e){
                for (instance in CKEDITOR.instances) {
                    CKEDITOR.instances[instance].updateElement();
                }
                
                $.ajax({
                    url: $(e.currentTarget).attr("action"),
                    async: false,
                    type: "post",
                    dataType: 'json',
                    data: $(e.currentTarget).serialize(),
                    error: function (data){
                        $(".control-input .error").hide();
                        for( item in data.responseJSON){
                            $("."+item+"-error").html(data.responseJSON[item]).show();
                        };
                        alert("存在问题，请查看填写记录");
                    },
                    success: function(data){
                        window.location.href = '{:url("problem/list")}';
                    }
                });
                return false;
            });


            $('#date_begin').datepicker({
                language: "zh-CN",
                autoclose: true,
                startView: 0,
                format: "yyyy-mm-dd",
                clearBtn: true,
                todayBtn: false,
                endDate: new Date()
            })

            $('.showorhide').change(function () {
                var show = $(this).data('show');
                if (show == $(this).val()) {
                    $('#' + $(this).data('toggle')).show();
                } else {
                    $('#' + $(this).data('toggle')).hide();
                }
            });
            // var ue = UM.getEditor('container');
            // var ue1 = UM.getEditor('container1');

            CKEDITOR.replace('editor',{
                cloudServices_tokenUrl: 'https://33333.cke-cs.com/token/dev/ijrDsqFix838Gh3wGO3F77FSW94BwcLXprJ4APSp3XQ26xsUHTi0jcb1hoBt',
                cloudServices_uploadUrl: '{:url("upload/image")}',
            });

            CKEDITOR.replace('editor1',{
                cloudServices_tokenUrl: 'https://33333.cke-cs.com/token/dev/ijrDsqFix838Gh3wGO3F77FSW94BwcLXprJ4APSp3XQ26xsUHTi0jcb1hoBt',
                cloudServices_uploadUrl: '{:url("upload/image")}',
            });

            $("#txt_file").fileinput({
                language: 'zh', //设置语言
                uploadUrl: '{:url("upload/image")}',
                maxFileCount: 5,
                allowedFileExtensions: ['jpg', 'png'],
                maxFileSize:300,
                layoutTemplates:{
                    actionDelete:""
                }
                // showPreview :false
            }).on("fileuploaded", function(event, data, previewId, index) {
                var images = $("#images").val().split(",");
                images.push(data.response.default);

                images.filter(function (val,key){
                    if( !val || val === "" )
                    {
                        images.splice(key,key+1);
                    }
                });
                $("#images").val(images.join(","));
                $("#temp-image").html("");
            }).on("filecleared", function(event, key) {
                $("#images").val(null);
            }).on("filebatchselected",function (){
                $(".file-preview-success").remove();
                $(".file-preview-error").remove();
                $(".file-uploading").remove();
                $("#images").val("");
            });
        });
    </script>
</body>

</html>